<div class="col-xs-12 desc-box model1">
  <div class="container">
    <div class="col-sm-12">
      <div class="title">
        <h1>Detail du produit</h1>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-title">
          Titre de la section
        </div>
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima non molestias magni cumque alias nam impedit doloribus, repudiandae sed nihil optio asperiores laboriosam quas eos provident natus voluptate. Ipsum, ullam.
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel">
        <img src="./img/footer/securite.png" alt="">
      </div>
    </div>

    <div class="col-sm-12">
      <div class="panel">
        <div class="panel-title">
          Titre de la section
        </div>
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima non molestias magni cumque alias nam impedit doloribus, repudiandae sed nihil optio asperiores laboriosam quas eos provident natus voluptate. Ipsum, ullam.
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-title">
          Titre de la section
        </div>
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima non molestias magni cumque alias nam impedit doloribus, repudiandae sed nihil optio asperiores laboriosam quas eos provident natus voluptate. Ipsum, ullam.
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-title">
          Titre de la section
        </div>
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima non molestias magni cumque alias nam impedit doloribus, repudiandae sed nihil optio asperiores laboriosam quas eos provident natus voluptate. Ipsum, ullam.
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-title">
          Titre de la section
        </div>
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima non molestias magni cumque alias nam impedit doloribus, repudiandae sed nihil optio asperiores laboriosam quas eos provident natus voluptate. Ipsum, ullam.
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-title">
          Titre de la section
        </div>
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima non molestias magni cumque alias nam impedit doloribus, repudiandae sed nihil optio asperiores laboriosam quas eos provident natus voluptate. Ipsum, ullam.
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-title">
          Titre de la section
        </div>
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima non molestias magni cumque alias nam impedit doloribus, repudiandae sed nihil optio asperiores laboriosam quas eos provident natus voluptate. Ipsum, ullam.
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="panel">
        <div class="panel-title">
          Titre de la section
        </div>
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima non molestias magni cumque alias nam impedit doloribus, repudiandae sed nihil optio asperiores laboriosam quas eos provident natus voluptate. Ipsum, ullam.
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="panel">
        <div class="panel-title">
          Titre de la section
        </div>
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima non molestias magni cumque alias nam impedit doloribus, repudiandae sed nihil optio asperiores laboriosam quas eos provident natus voluptate. Ipsum, ullam.
        </div>
      </div>
    </div>
  </div>
</div>